{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>
        Ekraf | Tempat jual beli produk ekonomi kreatif
    </title>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="dicoding:email" content="iezi.apps@gmail.com">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    {% include 'nav.html' %} {% block content %} {% endblock %}

    <footer>
        <div class="container">
            <p>Ekraf 2020</p>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>